<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            patwa kenya
        </title>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/mobile.css">
    </head>
    <!-- <video autoplay muted loop>
        <source src="FOCUS.mp4" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
      <!-- Your browser does not support the video tag.
      <!-- </video>  -->

        <div class="wrapper">
            <header>
                    <div class="navigation">
                        <nav>
                            <p>Patwa</p>

                            <div class="menu">
                            <ul>

                                <li><a href="{{url_for('login')}}">Login</a></li>
                                <li><a href="{{url_for('about')}}">About</a></li>
                                <li><a href="{{url_for('landing')}}">Home</a></li>
                            
                            </ul>
                            </div>

                        </nav>
                    </div>
            </header>
        
        <div class="container1">
            <!-- <h2>Patwa </h2> -->
            <div class="headingclass">
                <h2>Focus on work </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            
            <!-- </div> -->
                <h2>We search for you</h2>
            </div>
                <!-- <div class="container1"> -->
                <!-- <p class="separator">
                        search on <span>patwa</span>
                </p> -->
            <form action="{{url_for('search')}}" method="post" autocomplete="off" >
                <div>
                <input type="text" name="ID" placeholder="search id">
                <input class ="submit" type="submit" value="Patwa"  >
            </div>
            </form>
        </div>

    <section class="section1">
        <!-- <div class="display">
            <!-- <img src="lost.jpg" height="120px"> -->
           <!-- <h4>The Patwa Journey</h4>
            <h4>
                some of the recovered items
                 
            </h4> -->

        <!-- </div> --> 
     <div class="display1">
            <!-- <img src="lost.jpg" height="120px">  -->
            <h4>recovered</h4>
            <p>99 ids have been recovered since June</p>
            
        </div>
    </section>

    </div>
<!-- </div> --> 
<footer>
        <div class="center-container">
        <p>
            the work that we do is soley in partnership with the 
            students associations in kenya.
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
             It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
             in the 1960s with the release of Letraset sheet
        </p>

        <p>
            the quick brown fox jumped over the lazy dog.
        </p>
    </div>
            <div class="footer1">
                    <ul>

                        <li><a>api</a></li>
                        <li><a>clients</a></li>
                        <li><a>privacy</a></li>
                    
                    </ul>
            </div>
    </footer>

    </body>
</html>