<!DOCTYPE html>
<html>
    <head>
        <title>Homepage| </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/mobile.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>

    <body>
            <div class="navigation">
                    <nav>
                        <p>Patwa</p>

                        <div class="menu">
                        <ul>

                            <li><a href=index.html>Home</a></li>
                            <li><a href=about.html>About</a></li>
                            <li>privacy</li>
                        
                        </ul>
                        </div>

                    </nav>
                </div>
        <div class="login-box">
            <form action="{{url_for('register')}}" method="post">
            <h1>Login</h1>

            <div class="text-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username">
            </div>

            <div class="text-box">
                    <i class="fas fa-lock"></i>
                <input type="text" placeholder="Password">
            </div>

            <input  type="submit" value="Login">
        </form>
        </div>
    </body>

</html>